
.forma{
    color: darkgreen;
    font-size: 50px;
    font-family: 'Arial Black', Gadget, sans-serif;
    padding-top: 10px;
    font-weight: bold;
}
body{
    background-color: #f4f6f8;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    padding: 27px;
    color: #333;

}
}

